.detailplay {
  position: fixed;
  z-index: 112;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #aaa;
  transition: left 0.6s;
}
.detailplay .detailCover {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center center;
  filter: blur(30px);
}
.detailplay .detailTop {
  font-size: 25px;
  color: white;
  width: 90%;
  margin-left: 5%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 200;
}
.detailplay .detailTop .left {
  display: flex;
  line-height: 25px;
}
.detailplay .detailTop .left .back,
.detailplay .detailTop .share {
  line-height: 50px;
}
.detailplay .detailTop .left .title {
  margin-left: 20px;
}
.detailplay .detailTop .left .singName {
  font-size: 14px;
  font-weight: 500;
}
.detailplay .detailTop .left .singer {
  font-size: 12px;
}
.detailplay .detailContent {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
}
.detailplay .detailContent .swith-line {
  width: 80%;
  height: 1px;
  background-image: linear-gradient(
    270deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.6),
    hsla(0, 0%, 100%, 0)
  );
  margin: 0 auto;
}
.detailplay .detailContent .swith-line .trger {
  position: absolute;
  top: -14px;
  left: 50%;
  -webkit-transform: translate3d(-16px, 0, 0);
  transform: translate3d(-16px, 0, 0);
  width: 90px;
  height: 140px;
  background-image: url(/static/images/swith.png);
  background-size: cover;
  -webkit-transform-origin: 14px 16px;
  transform-origin: 14px 16px;
  transition: all 0.3s;
  z-index: 5;
}
.detailplay .detailContent .swith-line .pause {
  transform: translate3d(-16px, 0, 0) rotate(-30deg);
}
.detailplay .imgCover {
  width: 280px;
  height: 280px;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 50px auto;
}
.detailplay .imgCover .wrapper {
  width: 100%;
  height: 100%;
}
.detailplay .imgCover .singImg {
  position: absolute;
  top: 45px;
  left: 45px;
  width: 190px;
  height: 190px;
  border-radius: 50%;
}
.rotate {
  animation: 10s rotatefresh linear infinite normal;
}
@keyframes rotatefresh {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    transition-duration: 0.6s;
    transition: 0.6s;
  }
}
.detailplay .tools {
  position: absolute;
  bottom: 170px;
  z-index: 200;
  width: 80%;
  height: 100px;
  left: 10%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 18px;
}
.detailplay .playControl {
  width: 80%;
  position: absolute;
  bottom: 200px;
  color: white;
  font-size: 12px;
  left: 10%;
  display: flex;
}
.detailplay .playControl .line {
  width: 95%;
  height: 2px;
  background-color: #dcd9d9;
  margin: 5px 8px;
}
.detailplay .bottom {
  position: absolute;
  bottom: 130px;
  left: 5%;
  color: white;
  font-size: 23px;
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}
.detailplay .bottom .playPause {
  font-size: 35px;
}
.detailplay i:hover {
  cursor: pointer;
}
